.modal-form {
    width: 400px; 
	height: 160px;
    margin-top: -80px;
	margin-left: -225px;
}

.modal-form {
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed;
	top: 45%;
	left: 50%;
	opacity: 0;
	z-index: 5;
	padding: 30px 10px;
    padding-left: 50px;
}

.modal-form .modal-close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}

.modal-form .but {
    width: 100px;
    height: 35px;
    margin-top: 10px;
    font-size: 17px;
    margin-right: 10px;
}

.modal-form .modal-head {
    font-size: 30px;
    font-weight: bold;
}

.modal-form .modal-message {
    margin-top: 20px;
    font-size: 4;
    font-size: 25px;
    width: 340px;
    height: 50px
}
